<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{detalleCategoria}">Detalle Categoría</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Para livereload in html -->
<script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<!-- utilizando grid bootstrap tipo: stacked to horizontal -->
<div class="container">
	<div class="row">
		<div class="col-md-12"><span class="h1" th:text="#{detalleCategoria}"></span></div>
	</div>
	<div class="row">
		<div class="col-md-12"><hr/></div>
	</div>
	<div class="row">
		<div class="col-md-6" th:text="#{categoria.id}"></div>
		<div class="col-md-6" th:text="${categoriaDTO.id}"></div>
	</div>
	<div class="row">
		<div class="col-md-6" th:text="#{categoria.nombre}"></div>
		<div class="col-md-6" th:text="${categoriaDTO.nombre}"></div>
	</div>
	<div class="row">
		<div class="col-md-6" th:text="#{categoria.conteoPeliculas}"></div>
		<div class="col-md-6" th:text="${categoriaDTO.conteoPeliculas}"></div>
	</div>

		<br><br><br><br>
	
	
		<h2>Lista De Peliculas por Almacen </h2>
		<div class="row">
			<div class="col-md-3" >Almacen</div>
			<div class="col-md-3" >Num_Peliculas</div>
		</div>
		<div class="row">
			<div class="col-md-12"><hr/></div>
		</div>
		<div class="row" th:each="alm : ${listaAlm}">
			<div class="col-md-3" th:text="${alm.id} != 0 ? ${alm.id} : 'Sin Almacen'">Almacen</div>
			<div class="col-md-3" th:text="${alm.numPel}">Num_Peliculas</div>

		</div>
	</div>
	

</body>
</html>